*{
  padding: 0px;
  margin: 0px;
}

body{
  height: 100vh;
  background: #ebebed;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main{
  height: 500px;
  width: 1000px;
  background: white;
  border-radius: 10px;
  border: 1px solid black;
}
#todo_main{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
#card-container{
  height: 450px;
  width: 900px;
  margin:auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.modifier{
  width: 100%;
}
.modifier_button{
  background: white;
  border-radius: 5px;
  border:1px solid black;
  margin: 5px;
  color: black;
  font-size: 25px;
}
.modifier_button:hover{
  color: white;
  background: black;
  border-radius: 5px;
  border:1px solid black;
  margin: 5px;
  cursor: pointer;
}
#button{
  display:flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
}
.btn{
  width: 40px;
  height: 40px;
  font-size:20px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover{
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
#form_container{
  width: 100%;
  height: 300px;
  padding: 5px;
}
#form_container form{
  display: flex;
  flex-direction: column;
  padding: 5px;;
}
#form_container label{
  font-weight: bold;
  font-size: 20px;
}
#form_container input{
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 5px;
}
#form_container select{
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
}
#form_container .date{
  width: 30%;
}
.table_container{
  height: 390px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
}
table{
  width: 100%;
  padding: 5px;
  border-collapse: collapse;
  overflow-y:scroll;

}
thead{
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid black;
  height: 30px;
  text-transform: uppercase;
  color: white;
  background: black;
}
tbody{
  font-size: 15px;
  width: 100%;
}
tbody tr{
  border-bottom: 1px solid grey;
  height: 20px;
}
.root{
  position: relative;
}
.modal{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal > div{
  background-color: #fff;
  border: 1px solid black;
  height: 350px;
  width: 400px;
  padding: 50px;
  border-radius: 10px;
}
.modalButton{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.priority{
  color: black;
  border-radius: 5px;
  width: 80px;
  height: 20px;
  border: 1px solid black;
}
.prio_container{
  display: flex;
  width: 100%;
  height: 46px;
  justify-content: center;
  align-items: center;
}
.checkbox{
  height: 20px;
  width: 20px;
  border-radius: 10px;
}